<!-- lists all URLS - short and long form -->

<!DOCTYPE html>
<html lang='en'>

<head>
  <title>TinyApp Index</title>
</head>

<body>
  <header>
    <% include partials/_header %>
  </header>

  <br />

  <table style='margin:auto'>
    <% for (let prop in urls) { %>
      <tr style='height:40px'>
        <td>
          <%=prop%> &rarr;
        </td>

        <td style="min-width:240px">
          <a href=<%= urls[prop] %>><%= urls[prop] %></a>
        </td>

        <td style="width:40px">
          <a href='/urls/<%=prop%>'>Edit</a>
        </td>

        <td style="width:40px">
          <form action="/urls/<%=prop%>/delete" method="POST" style="display:inline-block" >
          <input type="submit" value="Delete">
          </form>
        </td>

      </tr>
    <% } %>
  </table>
</body>

</html>
