<!-- lists all URLS - short and long form -->

<!DOCTYPE html>
<html lang='en'>

<head>
  <title>TinyApp Index</title>
</head>

<body>
  <header>
    <% include partials/_header %>
  </header>

  <p>
    <a href='/urls/new'>Create a New Short Link!</a>
  </p>

  <table style='margin:auto'>
    <% for (let prop in urls) { %>
        <tr style='height:40px'>
        <td>
          <%=prop%> &rarr;
        </td>

        <td style='min-width:240px'>
          <a href=<%= urls[prop].longURL %>><%= urls[prop].longURL %></a>
        </td>

        <td style='width:40px'>
          <form action='/urls/<%=prop%>' method='GET' style='display:inline-block' >
          <input type='submit' value='Edit'>
          </form>
        </td>

        <td style='width:40px'>
          <form action='/urls/<%=prop%>/delete' method='POST' style='display:inline-block' >
          <input type='submit' value='Delete'>
          </form>
        </td>

      </tr>
    <% } %>
  </table>

  <footer>
    <% include partials/_footer %>
  </footer>
</body>

</html>
