<!--
if logged in only: show site header, table of urls that belong to user (short urls,
long url, edit (GET /urls/:id) and delete (POST /urls/:id/delete) buttons), and a
link to add new shortURL);
-->

<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Your URL Index</title>
  <meta charset='utf-8'>
</head>

<body>
  <header>
    <% include partials/_header %>
  </header>

  <div style='font-family:sans-serif; text-align:center'>

    <% if (Object.keys(urls).length > 0) { %>

      <p>
        <a href='/urls/new'>Create a New Short Link!</a>
      </p>

      <h3>Your URLs:</h3>

      <table style='margin:auto'>
        <tr>
          <th>
            ShortURLs
          </th>
          <th>
            LongURLs
          </th>
        </tr>

        <% for (let prop in urls) { %>
          <tr style='height:40px'>
            <td style='min-width:100px'>
              <a href=u/<%=prop%>><%= prop %></a>
            </td>
            <td style='min-width:270px'>
              <a href=<%= urls[prop].longURL %>><%= urls[prop].longURL %></a>
            </td>
            <td style='width:40px'>
              <form method='GET' action='/urls/<%=prop%>' style='display:inline-block' >
              <input type='submit' value='Edit' style="font-family: sans-serif; font-size: 18px;">
              </form>
            </td>
            <td style='width:40px'>
              <form method='POST' action='/urls/<%=prop%>/delete?_method=DELETE' style='display:inline-block' >
              <input type='submit' value='Delete' style="font-family: sans-serif; font-size: 18px;">
              </form>
            </td>
          </tr>
        <% } %>
      </table>

    <% } else { %>

      <p>
        You own no URLs yet!
      </p>
      <p>
        <a href='/urls/new'>Create a New Short Link!</a>
      </p>

    <% } %>

  </div>

  <footer>
    <% include partials/_footer %>
  </footer>
</body>
</html>
