<!-- shows the short and long form of a specific URL -->

<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp <%= shortURL %></title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>

  <div style='font-family:sans-serif; text-align:center'>
    <h3>ShortURL: <%= shortURL %></h3>

    <form action='/urls/<%= shortURL %>' method='POST' style='display:inline-block'>
      <input id='longURL' type='text' name='longURL' placeholder='<%= urls[shortURL].longURL %>' style='width: 300px; font-family: sans-serif; font-size: 14px'>
      <input type='submit' value='Update' style="font-family: sans-serif; font-size: 18px;">
    </form>
    <form action='/urls/<%=shortURL%>/delete' method='POST' style='display:inline-block' >
      <input type='submit' value='Delete' style="font-family: sans-serif; font-size: 18px;">
    </form>
  </div>

  <footer>
    <% include partials/_footer %>
  </footer>
</body>
</html>
