<!--
if logged in only and url exists and belongs to user: show shortURL and form with
longURL and update (POST /urls/:id) and delete (POST /urls/:id/delete) buttons
-->

<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp <%= shortURL %></title>
  <meta charset='utf-8'>
</head>

<body>
  <header>
    <% include partials/_header %>
  </header>

  <div style='font-family:sans-serif; text-align:center'>
    <h3>ShortURL: <%= shortURL %></h3>

    <form method='POST' action='/urls/<%= shortURL %>?_method=PUT' style='display:inline-block'>
      <input id='longURL' type='text' name='longURL' value='<%= urls[shortURL].longURL %>' style='width: 300px; font-family: sans-serif; font-size: 14px'>
      <input type='submit' value='Update' style="font-size: 18px;">
    </form>

    <form method='POST' action='/urls/<%=shortURL%>/delete?_method=DELETE' style='display:inline-block' >
      <input type='submit' value='Delete' style="font-size: 18px;">
    </form>
  </div>

  <footer>
    <% include partials/_footer %>
  </footer>
</body>
</html>
